name: Testing, DEBianizing and Releasing

on: push

jobs:
    Pytesting:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
        - uses: actions/checkout@v4
        - name: Development and test dependencies
          run: ./Routines.bash deps_devel
        - name: Installation
          run: ./Routines.bash install_program
        - name: Pytesting - Unit
          run: ./Routines.bash test_unit
        - name: Packaging - Reinventing the wheel
          run: ./Routines.bash reinvent_wheel
        
        - name: Release - On PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          if: "github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/v')"
          environment:
            name: pypi
            url: https://pypi.org/p/AssertMixins
          
        - name: Release - On GitHub
          id: create_release
          uses: softprops/action-gh-release@v2
          if: "github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/v')"
          with:
            files: |
              ./AssertMixins/dist/*.whl
